<div class="page-header">
	<%myFlag=false%>
	<%Interviewee.all.each do |interviewee|%>
		
		<%if can? :show ,interviewee %>
			<%myFlag=true%>
		<%break%>
		<%end%>
	<%end%>
	<%if myFlag==false %>
		<%= link_to new_interviewee_path, class: 'btn btn-primary' do %>
				<span class="glyphicon glyphicon-plus"></span>
				New Interviewee
		<% end %>
	<%end%>
	<h1>Listing interviewees</h1>
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>user_email</th>
				<th></th>
				<%if !can? :show,:all%>
				<th></th>
				<th></th>
				<%end%>
			</tr>
		</thead>

		<tbody>
			<%= content_tag_for(:tr, @interviewees) do |interviewee| %>
			<% puts  interviewee.to_json%>
				<%if can? :show,interviewee%>
					<td><%= interviewee.name %></td>
					<td><% if !interviewee.user.nil? %>
						<%= interviewee.user.email %>
						<% else %>
						<%= "no email (just testing)" %>
						<% end%>
					</td>
					<td><%= link_to 'Show', interviewee %></td>
					<%if !can? :show,:all%>
					<td><%= link_to 'Edit', edit_interviewee_path(interviewee) %></td>
					<td><%= link_to 'Destroy', interviewee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<%end%>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
