<div class="page-header">
	<%= link_to interviews_path, class: 'btn btn-default' do %>
	<span class="glyphicon glyphicon-list-alt"></span>
	Back
	<% end %>
	<%if can? :show,:all%>
	<%= link_to edit_interview_path(@interview), class: 'btn btn-primary' do %>
	<span class="glyphicon glyphicon-pencil"></span>
	Edit
	<% end %>
	<%end%>
	

	<%if !can? :show,:all%>
  		<%= link_to "/date_requests/new?inter_id=#{@interview.id}" , class: 'btn btn-primary' do %>
    	<span class="glyphicon glyphicon-calendar"></span>
   		Request date change
  	<% end %>
  	<h1>Show interview</h1>
<%end%>
</div>

<dl class="dl-horizontal">
	<dt>
		Score:
	</dt>
	<dd>
		<%= @interview.score %>
	</dd>
	<dt>
		Interviewer_Name:
	</dt>
	<dd>
		<td><% if !@interview.interviewer.nil? %> 
		<%= @interview.interviewer.name %> 
		<%else%> 
		<%='not yet assigned'%>
		<% end %></td>
	</dd>
	<dt>
		Interviewee_Name:
	</dt>
	<dd>
		<%= @interview.interviewee.name %>
	</dd>
	<dt>
		Vacant_job:
	</dt>
	<dd>
		<%= @interview.vacant_job.name %>
	</dd>
	<dt>
		Date:
	</dt>
	<dd>
		<%= @interview.date %>
	</dd>

</dl>
