<div class="page-header">
  <!-- <%= link_to new_date_request_path, class: 'btn btn-primary' do %> -->
    <!-- <span class="glyphicon glyphicon-plus"></span> -->
    <!-- New Date request -->
  <!-- <% end %> -->
  <h1>Listing date requests</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Interview</th>
            <th>Requested date</th>
            <th></th>
        <th></th>
        <!-- <th></th> -->
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @date_requests) do |date_request| %>
      <%if can? :update,date_request.interview.interviewer%>
            <td><%= date_request.interview_id %></td>
            <td><%= date_request.requested_date %></td>
            <td><%= link_to 'Approve', "/interviews/#{date_request.interview_id}/approve?newDate=#{date_request.requested_date}&requestID=#{date_request.id}" %></td>
            <td><%= link_to 'Deny', "/interviews/#{date_request.interview_id}/deny?newDate=#{date_request.requested_date}&requestID=#{date_request.id}" %></td>
      <%end%>
      <% end %>
    </tbody>
  </table>
</div>
